target
dist
.env
.env.*

# coverage
**/coverage
*.profraw
*.profdata

###############
#### omni #####
###############
**/.omni/cache/**
**/.omni/trace/**
**/.omni/remote-cache.omni.*
**/.omni/sources/*/**
**/.omni/remote_cache/**
!**/.omni/sources/*/lock.json

node_modules
**/node_modules
perf.data*
flamegraph.svg
dhat-heap.json
result.json
result.yaml
result.yml
result.toml
summary.json
result-summary.json
.vercel
.turbo
.artifacts
.tests
jobs.json
orcs.config.json

# contributors should have their own todo.txt and agents files
**/todo.txt
**/AGENTS.md
.agents
