name: CI

on:
  push:
    branches: [main]
    paths:
      - "**/*"
      - "!./apps/site/**"
      - "!bun.lock"
    tags:
      - "!v*.*.*"
      - "!*-v*.*.*"
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  plan:
    name: Generate Execution Plan
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.determine.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Omni
        uses: ./.github/actions/setup-omni
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache-key-prefix: test

      - name: Setup Tools
        uses: ./.github/actions/setup-tools
        with:
          install-all: false
          install-bun: ${{ steps.determine.outputs.INSTALL_JS_TOOLS }}
          install-node: ${{ steps.determine.outputs.INSTALL_JS_TOOLS }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Dry Run Results
        run: omni run -L -f=failed -d --result=result.json test build publish

      - name: Create Plan
        shell: bash
        run: |
          bun --bun x @omni-oss/create-jobs result.json --output=jobs.json

          JOBS=$(cat jobs.json)
          echo "jobs=$JOBS" >> $GITHUB_OUTPUT
          echo "jobs_test_typescript=$(echo $JOBS | jq '.test.typescript')" >> $GITHUB_OUTPUT
          echo "jobs_test_typescript_count=$(echo $JOBS | jq '.test.typescript | length')" >> $GITHUB_OUTPUT
          echo "jobs_test_rust=$(echo $JOBS | jq '.test.rust')" >> $GITHUB_OUTPUT
          echo "jobs_test_rust_count=$(echo $JOBS | jq '.test.rust | length')" >> $GITHUB_OUTPUT
          echo "jobs_build_typescript=$(echo $JOBS | jq '.build.typescript')" >> $GITHUB_OUTPUT
          echo "jobs_build_typescript_count=$(echo $JOBS | jq '.build.typescript | length')" >> $GITHUB_OUTPUT
          echo "jobs_build_rust=$(echo $JOBS | jq '.build.rust')" >> $GITHUB_OUTPUT
          echo "jobs_build_rust_count=$(echo $JOBS | jq '.build.rust | length')" >> $GITHUB_OUTPUT
          echo "jobs_publish_npm=$(echo $JOBS | jq '.publish.npm')" >> $GITHUB_OUTPUT
          echo "jobs_publish_npm_count=$(echo $JOBS | jq '.publish.npm | length')" >> $GITHUB_OUTPUT
          echo "jobs_publish_rust_github=$(echo $JOBS | jq '.publish.rust_github')" >> $GITHUB_OUTPUT
          echo "jobs_publish_rust_github_count=$(echo $JOBS | jq '.publish.rust_github | length')" >> $GITHUB_OUTPUT

      - name: Prune Unused Caches
        run: omni cache prune -sy -o="7d" # Remove stale caches older than 7 days

  test-typescript:
    needs:
      - plan
    if: ${{ needs.plan.outputs.jobs_test_typescript_count > 0 }}
    uses: ./.github/workflows/run-omni-jobs.yaml
    with:
      jobs: ${{ toJSON(needs.plan.outputs.jobs_test_typescript) }}

  test-rust:
    needs:
      - plan
    if: ${{ needs.plan.outputs.jobs_test_rust_count > 0 }}
    uses: ./.github/workflows/run-omni-jobs.yaml
    with:
      jobs: ${{ toJSON(needs.plan.outputs.jobs_test_rust) }}
      multiplatform: true

  build-typescript:
    needs:
      - plan
      - test-typescript
    if: ${{ needs.plan.outputs.jobs_build_typescript_count > 0 }}
    uses: ./.github/workflows/run-omni-jobs.yaml
    with:
      jobs: ${{ toJSON(needs.plan.outputs.jobs_build_typescript) }}

  build-rust:
    needs:
      - plan
      - test-rust
    if: ${{ needs.plan.outputs.jobs_build_rust_count > 0 }}
    uses: ./.github/workflows/run-omni-jobs.yaml
    with:
      jobs: ${{ toJSON(needs.plan.outputs.jobs_build_rust) }}
      multiplatform: true
